.ipynb_checkpoints
XLnet-gen/
bert_repo/
gpt-2/
xlnet/
transformers/
example.txt
squad_bert_base.tgz
squad_bert_base/
transcript.txt
.vscode
run_generation
activation
Amazon_Opiniones_MY_VERSION.ipynb
test_label.p
test_pred.p
