[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
absl-py = "==0.7.1"
acme = "==0.31.0"
appdirs = "==1.4.3"
apt-clone = "==0.2.1"
apturl = "==0.5.2"
asn1crypto = "==0.24.0"
astor = "==0.7.1"
astroid = "==2.2.5"
atari-py = "==0.2.6"
attrs = "==19.1.0"
backcall = "==0.1.0"
beautifulsoup4 = "==4.6.0"
bleach = "==3.1.0"
blis = "==0.2.4"
bokeh = "==1.3.4"
boto = "==2.49.0"
boto3 = "==1.9.207"
botocore = "==1.12.207"
brlapi = "==0.6.6"
bz2file = "==0.98"
cachetools = "==3.1.1"
caffe = "==1.0.0"
certbot = "==0.31.0"
certifi = "==2019.6.16"
cffi = "==1.11.5"
chardet = "==3.0.4"
click = "==7.0"
cloudpickle = "==1.2.1"
colorama = "==0.4.1"
colorcet = "==2.0.2"
command-not-found = "==0.3"
configobj = "==5.0.6"
cryptography = "==2.1.4"
cupshelpers = "==1.0"
cymem = "==2.0.2"
dask = "==2.3.0"
datashader = "==0.7.0"
ddt = "==1.2.1"
decorator = "==4.4.0"
defer = "==1.0.6"
defusedxml = "==0.6.0"
dill = "==0.3.0"
distributed = "==2.3.2"
distro-info = "===0.18ubuntu0.18.04.1"
docutils = "==0.14"
dopamine-rl = "==2.0.5"
en-core-web-sm = "==2.1.0"
entrypoints = "==0.3"
es-core-news-sm = "==2.1.0"
fastcache = "==1.1.0"
fastprogress = "==0.1.21"
flake8 = "==3.5.0"
fsspec = "==0.4.3"
future = "==0.17.1"
fuzzywuzzy = "==0.17.0"
gast = "==0.2.0"
gensim = "==3.8.0"
gevent = "==1.4.0"
gin-config = "==0.2.0"
gitdb2 = "==2.0.5"
gluonnlp = "==0.8.0"
google-api-python-client = "==1.7.11"
google-auth = "==1.6.3"
google-auth-httplib2 = "==0.0.3"
google-pasta = "==0.1.7"
googleapis-common-protos = "==1.6.0"
graphviz = "==0.8.4"
greenlet = "==0.4.15"
grpcio = "==1.22.0"
gunicorn = "==19.9.0"
gym = "==0.14.0"
h5py = "==2.9.0"
html5lib = "==0.999999999"
httplib2 = "==0.13.1"
idna = "==2.8"
ipykernel = "==5.1.2"
ipython = "==7.7.0"
ipywidgets = "==7.5.1"
isort = "==4.3.21"
itsdangerous = "==1.1.0"
jax = "==0.1.41"
jaxlib = "==0.1.23"
jedi = "==0.15.1"
jmespath = "==0.9.4"
joblib = "==0.11"
josepy = "==1.1.0"
jsonschema = "==3.0.2"
jupyter = "==1.0.0"
jupyter-client = "==5.3.1"
jupyter-contrib-nbextensions = "==0.5.1"
jupyter-core = "==4.5.0"
jupyterthemes = "==0.20.0"
keras-bert = "==0.72.0"
keras-embed-sim = "==0.7.0"
keras-layer-normalization = "==0.12.0"
keras-multi-head = "==0.20.0"
keras-pos-embd = "==0.11.0"
keras-position-wise-feed-forward = "==0.6.0"
keras-self-attention = "==0.41.0"
keras-transformer = "==0.29.0"
keyring = "==10.6.0"
kfac = "==0.1.5"
kiwisolver = "==1.1.0"
ktrain = "==0.2.3"
language-selector = "==0.1"
launchpadlib = "==1.10.6"
lazy-object-proxy = "==1.4.1"
lesscpy = "==0.13.0"
leveldb = "==0.1"
llvmlite = "==0.29.0"
locket = "==0.2.0"
louis = "==3.5.0"
lxml = "==4.4.1"
macaroonbakery = "==1.1.3"
matplotlib = "==3.1.1"
mccabe = "==0.6.1"
mesh-tensorflow = "==0.0.5"
mistune = "==0.8.4"
mock = "==2.0.0"
mpmath = "==1.1.0"
msgpack = "==0.6.1"
multipledispatch = "==0.6.0"
murmurhash = "==1.0.2"
mxnet = "==1.5.0"
mxnet-cu100 = "==1.5.0"
nbconvert = "==5.6.0"
nbdime = "==1.1.0"
nbformat = "==4.4.0"
ndg-httpsclient = "==0.4.4"
netifaces = "==0.10.4"
networkx = "==1.11"
nose = "==1.3.7"
nose-parameterized = "==0.3.4"
notebook = "==6.0.0"
numba = "==0.45.1"
numexpr = "==2.6.4"
numpy = "==1.17.0"
nvidia-ml-py = "==7.352.0"
nvidia-ml-py3 = "==7.352.0"
oauth = "==1.0.1"
oauth2client = "==4.1.3"
oauthlib = "==3.1.0"
olefile = "==0.45.1"
opencv-python = "==4.1.0.25"
opt-einsum = "==3.0.0"
pandas = "==0.25.0"
pandocfilters = "==1.4.2"
param = "==1.9.1"
parsedatetime = "==2.4"
parso = "==0.5.1"
partd = "==1.0.0"
pbr = "==3.1.1"
pexpect = "==4.7.0"
pickleshare = "==0.7.5"
pipenv = "==2018.11.26"
plac = "==0.9.6"
pluggy = "==0.6.0"
ply = "==3.11"
preshed = "==2.0.1"
promise = "==2.2.1"
prompt-toolkit = "==2.0.9"
protobuf = "==3.9.1"
psutil = "==5.6.3"
ptyprocess = "==0.6.0"
py = "==1.5.2"
pyasn1 = "==0.4.6"
pyasn1-modules = "==0.2.6"
pycairo = "==1.16.2"
pycodestyle = "==2.3.1"
pycparser = "==2.18"
pycrypto = "==2.6.1"
pyct = "==0.4.6"
pycuda = "==2018.1.1"
pycups = "==1.9.73"
pydot = "==1.2.3"
pyflakes = "==1.6.0"
pyglet = "==1.3.2"
pygpu = "==0.7.6"
pyinotify = "==0.9.6"
pylint = "==2.3.1"
pymacaroons = "==0.13.0"
pyparsing = "==2.4.2"
pypng = "==0.0.20"
pyrsistent = "==0.15.4"
pytest = "==3.3.2"
python-apt = "==1.6.4"
python-dateutil = "==2.8.0"
python-debian = "==0.1.32"
pytools = "==2017.6"
pytz = "==2019.2"
pyxdg = "==0.25"
pyzmq = "==18.1.0"
qtconsole = "==4.5.2"
regex = "==2019.6.8"
reportlab = "==3.4.0"
requests = "==2.22.0"
requests-oauthlib = "==1.2.0"
requests-toolbelt = "==0.8.0"
requests-unixsocket = "==0.1.5"
rsa = "==4.0"
s3transfer = "==0.2.1"
scikit-cuda = "==0.5.2"
scikit-image = "==0.13.1"
scikit-learn = "==0.21.3"
scipy = "==1.3.1"
screen-resolution-extra = "==0.0.0"
seaborn = "==0.9.0"
sentencepiece = "==0.1.82"
simplegeneric = "==0.8.1"
simplejson = "==3.13.2"
six = "==1.12.0"
smart-open = "==1.8.4"
smmap2 = "==2.0.5"
sortedcontainers = "==2.1.0"
spacy = "==2.1.8"
spotipy = "==2.4.4"
srsly = "==0.1.0"
ssh-import-id = "==5.7"
sympy = "==1.4"
system-service = "==0.3"
systemd-python = "==234"
tables = "==3.4.2"
tblib = "==1.4.0"
tensor2tensor = "==1.13.4"
tensorboard = "==1.14.0"
tensorflow-datasets = "==1.1.0"
tensorflow-estimator = "==1.14.0"
tensorflow-gpu = "==1.14.0"
tensorflow-hub = "==0.5.0"
tensorflow-metadata = "==0.14.0"
tensorflow-probability = "==0.7.0"
tensorflow-serving-api = "==1.14.0"
termcolor = "==1.1.0"
terminado = "==0.8.2"
testpath = "==0.3.1"
thinc = "==7.0.8"
toolz = "==0.10.0"
toposort = "==1.5"
torch = "==1.1.0"
torchvision = "==0.2.2"
tornado = "==6.0.3"
tqdm = "==4.33.0"
traitlets = "==4.3.2"
tweepy = "==3.8.0"
typed-ast = "==1.4.0"
ubuntu-drivers-common = "==0.0.0"
ufw = "==0.36"
unattended-upgrades = "==0.1"
uritemplate = "==3.0.0"
urllib3 = "==1.25.3"
usb-creator = "==0.3.3"
virtualenv = "==16.7.3"
virtualenv-clone = "==0.5.3"
wadllib = "==1.3.2"
wasabi = "==0.2.2"
wcwidth = "==0.1.7"
webencodings = "==0.5.1"
widgetsnbextension = "==3.5.1"
wrapt = "==1.11.2"
xarray = "==0.12.3"
xkit = "==0.0.0"
yapf = "==0.28.0"
zict = "==1.0.0"
ConfigArgParse = "==0.11.0"
Cycler = "==0.10.0"
DataShape = "==0.5.2"
Flask = "==1.1.1"
GitPython = "==3.0.1"
HeapDict = "==1.0.0"
ipython_genutils = "==0.2.0"
Jinja2 = "==2.10.1"
jupyter_console = "==6.0.0"
jupyter_contrib_core = "==0.3.3"
jupyter_highlight_selected_word = "==0.2.0"
jupyter_latex_envs = "==1.4.6"
jupyter_nbextensions_configurator = "==0.4.1"
Keras = "==2.2.4"
Keras-Applications = "==1.0.8"
Keras-Preprocessing = "==1.1.0"
"keyrings.alt" = "==3.0"
"lazr.restfulclient" = "==0.13.5"
"lazr.uri" = "==1.0.3"
Mako = "==1.0.7"
Markdown = "==2.6.9"
MarkupSafe = "==1.1.1"
Pillow = "==6.1.0"
prometheus_client = "==0.7.1"
Pygments = "==2.4.2"
PyGObject = "==3.26.1"
PyICU = "==1.9.8"
PyNaCl = "==1.1.2"
pyOpenSSL = "==17.5.0"
pyRFC3339 = "==1.0"
PySocks = "==1.7.0"
PyWavelets = "==0.5.1"
PyYAML = "==5.1.2"
SecretStorage = "==2.3.1"
Send2Trash = "==1.5.0"
Theano = "==1.0.4"
Werkzeug = "==0.15.5"
"zope.component" = "==4.3.0"
"zope.event" = "==4.2.0"
"zope.hookable" = "==4.0.4"
"zope.interface" = "==4.3.2"
sklearn = "*"

[requires]
python_version = "3.6"
